<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head th:replace="_fragments :: head(~{::title})">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<title>关于我</title>
  		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
  		<link rel="stylesheet" href="../static/css/my.css" >
  		
	</head>
	<body>
		<!--导航-->
		<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">

		</nav>
		
		<!--中间内容-->
		<div  class="m-container m-padded-tb-big animated fadeIn">
			<div class="ui container">

				<div class="ui stackable grid">
					<div class="eleven wide column">
						<div class="ui segment">
							<img src="https://upload.jianshu.io/users/upload_avatars/11636334/61aa0208-77ee-4038-a8bd-4ebcfdd4ff6a.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/240/h/240" alt="" class="ui rounded image">
						</div>
					</div>
					<div class="five wide column">
						<div class="ui top attached segment">
							<div class="ui header">关于我</div>
						</div>
						<div class="ui attached segment">
							<p class="m-text">Radom7，一个喜欢折腾前端的Java后端开发者，一个终身学习者，誓将学习无限循环. 希望结识可以共同成长的小伙伴.</p>
							<p class="m-text">热爱编程，喜欢折腾，正在探索高效学习编程技术的方法...</p>
						</div>
						<div class="ui attached segment">
							<div class="ui orange basic left pointing label" th:each="type : ${types}"><span th:text="${type.name}"></span></div>
						</div>
						<div class="ui attached segment" >
							<div class="ui teal basic left pointing label m-margin-tb-tiny" th:each="tag : ${tags}"><span th:text="${tag.name}"></span></div>
							<div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
						</div>
						<div class="ui bottom attached segment">
							<a href="https://github.com/Linliuxing" class="ui circular icon button"><i class="github icon"></i></a>
							<a href="https://blog.csdn.net/qq_26641781" class="ui circular icon button"><i class="contao icon"></i></a>
							<a href="#" class="ui qq circular icon button" data-content="929593448" data-position="bottom center"><i class="qq icon"></i></a>
						</div>

						<div class="ui wechat-qr flowing popup transition hidden">
							<img src="../static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 110px">
						</div>
					</div>
				</div>

			</div>
		</div>

		<footer th:replace="_fragments :: footer">
		</footer>
	</body>
	<!--/*/<th:block th:replace="_fragments :: script">/*/-->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
	<!--/*/</th:block>/*/-->
  	<script>
  		 $('.menu.toggle').click(function () {
      		$('.m-item').toggleClass('m-mobile-hide');
    		});
    	$('.qq').popup();
  	</script>
</html>
